# Игнорировать виртуальное окружение
venv/
env/

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать скомпилированные Python-файлы
__pycache__/
*.pyc

# Игнорировать локальную базу данных
db.sqlite3

# Игнорировать статические файлы, собранные Django
staticfiles/

# Игнорировать загруженные файлы
media/

# Игнорировать файлы macOS
.DS_Store

# Игнорировать файлы сборки Python
dist/
build/
*.egg-info/