{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Система тестирования{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Навигационная панель -->
    <div class="navbar">
        <div class="auth-button">
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Вход/Регистрация</a>
            {% endif %}
        </div>
        <a href="{% url 'create_test' %}">Создать тест</a>
        <a href="{% url 'view_tests' %}">Просмотреть тесты</a>
        <a href="{% url 'view_results' %}">Результаты студентов</a>

        {% if request.user.is_authenticated %}
            <div class="user-info">
                {% if request.user.teacher %}
                    <p>{{ request.user.teacher.full_name }}</p>
                {% else %}
                    <p>Преподаватель не найден</p>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <!-- Основной контент -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
